/* Estilo para o spinner de carregamento */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid #f3f3f3;
    border-top: 8px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Solução definitiva para o problema de sobreposição */
#map-container {
    position: relative;
    z-index: 0;
}

/* Estilo para os marcadores numerados no mapa */
.numbered-marker {
    background-color: #3498db; /* Azul */
    border: 2px solid #ffffff;
    border-radius: 50%;
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    line-height: 22px; /* Ajuste para centralizar o número verticalmente */
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: pointer;
}