/* Estilo para o spinner de carregamento */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Garante que o modal fique na camada superior absoluta */
#modal {
    z-index: 9999 !important;
}

/* Força o container do mapa a ter um contexto de empilhamento de baixa prioridade */
#map-container {
    position: relative;
    z-index: 0;
}

/* --- NOVO ESTILO PARA O ALFINETE NUMERADO --- */
.numbered-pin-marker {
    width: 32px;
    height: 32px;
    border-radius: 50% 50% 50% 0;
    background: #c32b2b; /* Cor padrão */
    position: absolute;
    transform: rotate(-45deg);
    border: 2px solid white;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: pointer;
    
    /* Centraliza o número dentro do pino */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* O número dentro do pino */
.numbered-pin-marker span {
    color: white;
    font-size: 14px;
    font-weight: bold;
    transform: rotate(45deg); /* Desfaz a rotação do pino para o número ficar reto */
}